.formControl {
}

.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span
{
    color: red;
}

.formError {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    text-align: center;
    border: red 1px solid;
    padding: 5px;
    color: crimson;
}