.app-wrapper {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-areas:
  'h h'
  'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 4fr;
}
.app-wrapper-content {
  grid-area: c;
  background-color: skyblue;
}





