.dialogs {
    display: grid;
    margin: 0 auto;
    grid-template-areas: 'd m';
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    grid-area: d;
    padding: 10px;
}

.dialogsItems .dialog {
}

.active {
    color: aqua;
}

.messages {
    grid-area: m;
    padding: 10px;
}

.messages .message{

}
